{% extends 'base.html.twig' %}

{% block title %}Hello EvenementsController!{% endblock %}

{% block body %}
 {% for evenement in evenements %}
    <h1> {{evenement.titre}}</h1>
{% endfor %}
{% endblock %}
