{% extends 'base.html.twig' %}

{% block title %}New Adhesions{% endblock %}

{% block body %}
    <h1>Create new Adhesions</h1>

    {{ include('adhesions/_form.html.twig') }}

    <a href="{{ path('adhesions_index') }}">back to list</a>
{% endblock %}
