{% block title %}{% endblock %}
 
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-light-gray pb-5 " style="margin-top:50px;">
  <div class="w3-container" style="padding-top:22px"></div>
  <div class="container mx-auto">
    <h3 class="mb-5">Veuillez consulter la FAQ avant de nous contacter.</h3>
 
    <h5><strong>Comment puis-je payer mon adhésion, mes cotisations et faire des dons ?</strong></h5>
        <p>Avant de payer votre adhésion, vos cotisations et faire des dons vous devez attendre dans 48h la validation de votre inscription par un administrateur.</p>
    
    <h5><strong>Puis-je appartenir à un département ?</strong></h5>
        <p>Oui, vous pouvez appartenir à un département si toutefois vous le spécifier dans le formulaire d'inscription. Mais, il appartient aux membres du bureau exécutif d'analyser votre demande.</p>
 
    <h5><strong>Puis-je voir le statut des autres membres ?</strong></h5>
        <p>Oui, si votre inscription a été validée par un administrateur vous pouvez voir le statut des autres membres actifs.</p>
 
    <h5><strong>Comment trouver un membre ?</strong></h5>
        <p>
            Un moteur de recherche sera disponible dans votre espace membre une fois votre inscription est validée par un administrateur. 
            Ce qui vous permettra de voir le statut des autres membres actifs.
        </p>
 
    <h5><strong>Pourquoi n'ai-je pas un accès total à mon compte ?</strong></h5>
        <p>Pour avoir un accès total à votre compte vous devez attendre 48h à ce que votre inscription soit validée par un administrateur.</p>
    <br />
    <hr / style="border: 1px solid #CCCCCC">
    <p> 
        <h4 class="text-center">Vous ne trouvez aucune reponse à votre demande ? Veuillez nous contacter en remplissant le formulaire ci-dessous.</h4>
        <form class="w3-container w3-card-4">
            <br>     
            <label class="w3-text-grey">Subject</label>
            <textarea class="w3-input w3-border" style="resize:none"></textarea>
            <br>
            <p><button type="button" class="w3-btn w3-padding w3-teal" style="width:120px">POSTER &nbsp; ❯</button></p>
        </form>
    </p>
  </div>
</div><!-- End page content --> 
{% endblock %}