{% extends 'base.html.twig' %}

{% block title %}Ajoutez une categorie{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Ajoutez une categorie </h1>
        {# on fait appel au formulaire #}
        {{ form (form) }}
    </div>
{% endblock %}
